table {
  border-collapse: collapse;
  width: 498px;
  height: 540px;
  border: 0px 0px;
}

td {
  border: 10px solid black;
}

.large {
  height: 131px; 
}

.slim {
	height: 29px;
}

.yellow {
  background-color: #ffff66;
}

.red {
  background-color: #ff6633;
}

.black {
  background-color: #000000;
}

.blue {
  background-color: #006699;
}

